* {
    box-sizing: border-box;
}

body {
   
}

#container {
    display: grid;
    height: 400px;
    width: 400px;
    margin: 0 auto;
    border: 2px solid goldenrod;
}

h1 {
    text-align: center;
}

